<mat-nav-list>

  <a mat-list-item routerLink="/admin">
    <mat-icon>insert_chart_outlined</mat-icon>
    <span class="nav-link">Productos</span>
  </a>

  <a mat-list-item routerLink="/categorias">
    <mat-icon>class</mat-icon>
    <span class="nav-link">Categorias</span>
  </a>

  <a mat-list-item routerLink="/admin/users">
    <mat-icon>people</mat-icon>
    <span class="nav-link">Usuarios</span>
  </a>

  <a mat-list-item (click)="onExit()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-link">Salir</span>
  </a>
</mat-nav-list>
