<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-sm-0 font-size-24" style="margin-top: 1em">Productos</h2>
        <div class="page-title-right" style="margin-top: 1em">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']"
                                           routerLinkActive="active">Productos</a>
            </li>
          </ol>
        </div>
      </div>
      <!-- end page title-->

      <!-- body page-->

      <div class="card" style="margin-top: 2em;">
        <div class="card-body">
          <h3 class="card-title"><b>Listado de Productos Habilitados</b></h3>
          <p class="card-title-desc">En esta tabla puedes visualizar todos los <code>[Productos]</code> creados por ti y
            que actualmente estan <b>Habilitados</b> en el sistema.</p>
          <app-productos-add></app-productos-add>
          <button (click)="openAssignCategory()" style="margin-left: 10px;" type="button"
                  class="btn btn-primary waves-effect waves-light">
            Asignar Categoria
          </button>
          <table class="table text-center" style="margin-top: 7px" name="tableActive">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Marca</th>
              <th scope="col">Descripción</th>
              <th scope="col">Stock</th>
              <th scope="col">Categoria</th>
              <th scope="col">Estado</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productos of listarProducto; index as i">
              <td>{{i + 1}}</td>
              <td>{{productos.productos_nombre}}</td>
              <td>{{productos.productos_marca}}</td>
              <td>{{productos.productos_descripcion}}</td>
              <td>{{productos.productos_stock}}</td>
              <td>{{productos.c_nombre}}</td>
              <td>{{productos.productos_state}}</td>
              <td>
                <button type="button" class="btn btn-warning">Editar</button>
              </td>
              <td>
                <button type="button" (click)="confirmDelete(productos.productos_id)" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>

            </tbody>
          </table>
          <!-- end body page-->

          <app-productos-list-categorias></app-productos-list-categorias>
        </div>
      </div>
    </div>
  </div>
</div>
